html {
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.container{
    max-width: 980px;
    margin: 0 auto;
}

header{
    background-color: #24333a;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.header-logo{
    height: 56px;
    width: 96px;
}

.cart-button,
.goods-item,
.goods-inner{
    border: 3px solid black;
    border-radius: 5px;
}

.cart-button{
    margin: 15px;
    padding: 5px 10px;
    cursor: pointer;
}

main {
    background-size: 20px 20px;
    background-position: center center;
    min-height: 100vh;
}

.goods-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.goods-item{
    margin-top: 50px;
    padding: 15px;
    text-align: center;
    background: rgba(24, 117, 163, 0.5);
}

.goods-inner{
    background-color: rgb(199, 179, 179);
}

.buy-btn{
    margin-top: 10px;
    cursor: pointer;
}